# Katalon conflict
*.class
*.swp
bin/lib/TempTestCase*
Reports/
\.classpath
\.project
\.settings/
settings/internal/com.kms.katalon.composer.testcase.properties
*.project
bin/lib/
Libs/
Libs/TempTestCase*
Libs/TempTestSuite*